/****** mix-in ******/
@mixin pattern-line {background: repeating-linear-gradient(45deg, var(--gray-e), var(--gray-e) 4px, var(--gray-f8) 0, var(--gray-f8) 8px)}//쓰인곳: BNF2002-00M - NPL페이지에 쓰인 두꺼운 화살표에 응용
@mixin bg-gra-prim {background: linear-gradient(45deg, #ffc8e6 20%, #E4007F 100%) !important}
@mixin bg-gra-second {background: linear-gradient(45deg, #327daf 20%, #176199 100%) !important}
@mixin txt-shadow-wh {text-shadow: 0 0 10px var(--wh)}
@mixin txt-shadow-bk {text-shadow: 0 0 10px var(--bk)}
@mixin txt-shadow-blu {text-shadow: 0 0 10px var(--blu-d)}
@mixin radius-0 {border-radius: 0; -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0}
@mixin radius-5 {border-radius: 5px; -webkit-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px}
@mixin radius-10-top {border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0}
@mixin radius-10-bottom {border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 5px 5px}
@mixin radius-10-left {border-radius: 10px 0 0 10px; -webkit-border-radius: 10px 0 0 10px; -ms-border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px; -o-border-radius: 10px 0 0 10px}
@mixin radius-10-right {border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; -ms-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -o-border-radius: 0 10px 10px 0}
@mixin radius-10 {border-radius: 10px; -webkit-border-radius: 10px; -ms-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px}
@mixin radius-20 {border-radius: 20px; -webkit-border-radius: 20px; -ms-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px}
@mixin radius-30 {border-radius: 30px; -webkit-border-radius: 30px; -ms-border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px}
@mixin radius-40 {border-radius: 40px; -webkit-border-radius: 40px; -ms-border-radius: 40px; -moz-border-radius: 40px; -o-border-radius: 40px}
@mixin radius-50 {border-radius: 50px; -webkit-border-radius: 50px; -ms-border-radius: 50px; -moz-border-radius: 50px; -o-border-radius: 50px}
@mixin radius-80 {border-radius: 80px; -webkit-border-radius: 80px; -ms-border-radius: 80px; -moz-border-radius: 80px; -o-border-radius: 80px}
@mixin radius-100 {border-radius: 100px; -webkit-border-radius: 100px; -ms-border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px}
@mixin radius-cir {border-radius: 50%; -webkit-border-radius: 50%; -ms-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%}
@mixin radius-drop {border-radius: 10px 50% 50% 50%; -webkit-border-radius: 10px 50% 50% 50%; -ms-border-radius: 10px 50% 50% 50%; -moz-border-radius: 10px 50% 50% 50%; -o-border-radius: 10px 50% 50% 50%}
@mixin radius-leaf-lt-rb {border-radius: 10px 100px 10px 100px; -webkit-border-radius: 10px 100px 10px 100px; -ms-border-radius: 10px 100px 10px 100px; -moz-border-radius: 10px 100px 10px 100px; -o-border-radius: 10px 50% 10px 50%}
@mixin radius-leaf-rt-lb {border-radius: 100px 10px 100px 10px; -webkit-border-radius: 100px 10px 100px 10px; -ms-border-radius: 100px 10px 100px 10px; -moz-border-radius: 100px 10px 100px 10px; -o-border-radius: 50% 10px 50% 10px}
/* */
@mixin font-pre {font-family: 'pretendard', 'DakiB', 'Roboto', sans-serif !important; font-weight: bold}
@mixin posi-cen-h {top: 0; left: 50% !important; transform: translate(-50%, 0) !important}
@mixin radius-20noTop {border-radius: 0 0 20px 20px; -webkit-border-radius: 0 0 20px 20px; -ms-border-radius: 0 0 20px 20px; -moz-border-radius: 0 0 20px 20px; -o-border-radius: 0 0 20px 20px}
@mixin radius-20noBottom {border-radius: 20px 20px 0 0; -webkit-border-radius: 20px 20px 0 0; -ms-border-radius: 20px 20px 0 0; -moz-border-radius: 20px 20px 0 0; -o-border-radius: 20px 20px 0 0}
/* */
@mixin mirror {transform: rotate(180deg);
    -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1)}
@mixin flex {display: flex; display: -webkit-box; display: -ms-flexbox}
@mixin flex-start {display: flex; display: -webkit-box; display: -ms-flexbox;
    -webkit-box-align: start; -moz-align-items: start; -ms-flex-align: start; align-items: start}
/* @mixin flex-cen {display: flex; display: -webkit-box; display: -ms-flexbox;
    -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -moz-box-justify-content: center; -ms-flex-pack: center; justify-content: center} */
@mixin flex-cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fx-txtCen {-webkit-box-pack: center; -moz-box-justify-content: center; -ms-flex-pack: center; justify-content: center}
@mixin flex-bet {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between}
@mixin flex-ver {display: flex; display: -webkit-box; display: -ms-flexbox;
    -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center}//세로 중앙
@mixin fx-ver {-webkit-box-orient: vertical; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column}
/* */
@mixin fit-brBox {-webkit-box-sizing: border-box !important; -moz-box-sizing:border-box !important;; box-sizing:border-box !important}
@mixin flex-column {-webkit-box-orient: vertical; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column}